.civically-user {
  ul {
    margin: 0;

    button {
      border: none;
      display: initial;
      background: $secondary;
      padding: 4px 6px;
      cursor: initial;

      &:hover {
        background: $tertiary-low;
        color: $primary;
      }

      &.checkable {
        cursor: pointer;
      }

      &.hide {
        align-self: flex-start;
        cursor: pointer;
      }

      &.check-title {
        cursor: pointer;
      }
    }

    .checklist-item {
      display: flex;
      margin: 5px 0;

      &.next {
        box-shadow: 0 2px 2px rgba(0,0,0,0.25);
        border: 1px solid $primary-low;
        border-top: 1px solid $primary-low !important;
        border-radius: 4px;
        background: $highlight-low !important;

        button {
          background: transparent;
        }
      }

      &.inactive * {
        color: $primary-low-mid !important;
        background-color: $secondary !important;
        cursor: initial !important;
      }

      &.checked {
        .item-body button:hover {
          background: $success;
        }
      }

      &.hidden {
        display: none;
      }
    }

    .check-toggle {
      padding: 4px 6px;
      line-height: 16px;
      align-self: start;

      .fa-check {
        color: $success;
      }

      .fa-arrow-right {
        color: $danger-low;
      }
    }

    .item-body {
      flex: 1;

      .check-title, .check-detail {
        text-align: left;
      }

      .check-detail {
        padding: 4px 6px;

        p {
          margin: 0;

          a {
            @extend .p-link;
          }
        }
      }
    }
  }

  .app-widget-container .spinner {
    margin: 0;

    &.tiny {
      width: 5px;
      height: 5px;
      padding: 2px;
      margin: 3px 5px;
    }
  }
}

#activate-account-form {
  margin: 0;
}

.invites-show {
  background-color: $secondary;
  padding: 20px;
  border-radius: 4px;
  position: relative;

  .col-image {
    width: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .disclaimer {
    margin-bottom: 10px;
  }

  .people-image {
    position: absolute;
    bottom: 25px;
    right: 30px;
  }
}

.admin-container.checklists {
  .container {
    display: flex;

    .target-select {
      padding: 20px;
      background-color: $primary-very-low;
      align-self: flex-start;

      .input {
        margin-top: 5px;
      }

      .actions {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        button {
          margin-bottom: 10px;
        }
      }
    }

    .add-or-update {
      display: flex;
      padding: 20px;
      flex: 1;
    }

    .column {
      width: 250px;
      margin-right: 30px;
    }

    .select-kit {
      width: 212px;
    }

    input[type='text'], input[type='number'] {
      width: 190px;
      margin-bottom: 0;
    }

    .ac-wrap {
      width: 212px !important;
    }
  }

  .controls{
    float: right;
  }
}

.user-prompt {
  background-color: $secondary;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  display: flex;
  text-align: left;
  align-items: center;

  .image {
    min-width: 20px;
    margin-right: 10px;
    text-align: center;
  }

  i.fa {
    font-size: 1.2em;
    margin: 0;
  }
}

.user-table .admin-controls {
  position: relative;

  > .pull-right {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

#user-card.show-badges {
  .names {
    width: initial;

    span {
      display: block;
      width: initial;
      min-width: initial;
      max-width: initial;

      h1, h2 {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 0.5rem;
      }

      .full-name {
        border-right: 1px solid $primary;
        padding-right: 10px;

        &+h2 {
          padding-left: 5px;
        }
      }
    }
  }
}

.posting-rules {
  margin-top: 10px;

  .spinner {
    height: 5px;
    width: 5px;
  }

  .app-widget-header {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
  }

  .hide-rules {
    color: $primary;
  }

  ol {
    margin: 0;
    padding-left: 20px;

    li {
      cursor: pointer;
      margin: 5px 0;

      p {
        margin: 5px 0;
      }

      a {
        @extend .p-link;
      }
    }
  }

  .gutter {
    position: relative;

    .rules-acceptance {
      position: absolute;
      bottom: 20px;
      background-color: $secondary;
      border: 1px solid $primary-low;
      border-radius: 4px;
      box-shadow: shadow('card');
      padding: 10px;

      p {
        margin: 0;
      }

      a {
        @extend .p-link;
      }
    }
  }
}

.custom-user-interface-settings {
  .accepted-rules-at {
    margin-bottom: 5px;

    p {
      margin: 0;
    }

    a {
      @extend .p-link;
    }
  }
}
