.civically-user {
  ul {
    margin: 0;

    button {
      border: none;
      display: initial;
      background: $secondary;
      padding: 4px 6px;
      cursor: initial;

      &:hover {
        background: $tertiary-low;
        color: $primary;
      }

      .checkable {
        cursor: pointer;
      }

      &.check-title {
        cursor: pointer;
      }
    }

    .checklist-item {
      display: flex;
      margin: 5px 0;

      &.next {
        box-shadow: 0 2px 2px rgba(0,0,0,0.25);
        border: 1px solid $primary-low;
        border-top: 1px solid $primary-low !important;
        border-radius: 4px;
        background: $highlight-low !important;

        button {
          background: transparent;
        }
      }

      &.inactive * {
        color: $primary-low-mid !important;
        background-color: $secondary !important;
        cursor: initial !important;
      }

      &.checked {
        button:hover {
          background: $success-low;
        }
      }
    }

    .check-toggle {
      padding: 4px 6px;
      line-height: 16px;

      .fa-check {
        color: $success;
      }

      .fa-arrow-right {
        color: $danger-low;
      }
    }

    .right-contents {
      flex: 1;

      .check-title, .check-detail {
        text-align: left;
      }

      .check-detail {
        padding: 4px 6px;

        p {
          margin: 0;

          a {
            @extend .p-link;
          }
        }
      }
    }
  }
}

#activate-account-form {
  margin: 0;
}
