<div class='display-row'>
  <div class='field'>{{i18n 'user.place_label'}}</div>
  <div class='value'>{{place-label model.place_category_id}}</div>
  <div class='controls'>
    {{#if currentUser.admin}}
      {{admin-place-select model=model}}
    {{/if}}
  </div>
</div>
