<div class="user-position">
  <div class="control-group">
    <label class='control-label'>{{i18n 'user.position.title'}}</label>
    <div class="controls user-position-container">
      {{input value=model.custom_fields.position}}
    </div>
    <div class='instructions'>
        {{i18n 'user.position.instructions'}}
    </div>
  </div>
</div>
